<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Busqueda de Reservas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buscar.css') }}">
</head>
<body>

  <h2>Buscar Reservas por Rango de Fechas</h2>


<label for="inicio">Desde:</label>
<input type="date" id="inicio">
<label for="fin">Hasta:</label>
<input type="date" id="fin">
  <button onclick="buscar()">Buscar</button>

<table id="tabla">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Fecha Ingreso</th>
      <th>Fecha Salida</th>
      <th>Habitación</th>
      <th>Noches</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>


  <!-- Botón para retroceder al panel administrativo -->
  <br><br>
  <button onclick="window.location.href='/sistema_admin'">Volver al Panel</button>

  <script src="{{ url_for('static', filename='js/buscar.js') }}"></script>
</body>
</html>
