<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Habitaciones - Hotel Dorado</title>
    <link rel="icon" href="{{ url_for('static', filename='image/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <header>
        <div class="caja1">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo Hotel" width="100" height="100">
            <h1>HOTEL DORADO</h1>
        </div>
    </header>
      <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/habitaciones">Habitaciones</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/login">Iniciar sesión</a></li>
      </li>
    </ul>
  </nav>
    <main>
        <h2>Habitaciones</h2>
        <section>
            <h3>Estandar - $150.000</h3>
            <p>Habitacion comoda con cama doble, bano privado, TV y WiFi.</p>
        </section>
        <section>
            <h3>Suite Junior - $250.000</h3>
            <p>Habitacion amplia con cama queen, sala pequena, bano privado, TV, WiFi y minibar.</p>
        </section>
        <section>
            <h3>Suite Ejecutiva - $400.000</h3>
            <p>Suite de lujo con cama king, sala de estar, bano privado, jacuzzi, TV, WiFi, minibar y balcon.</p>
        </section>
    </main>
     <!-- FOOTER -->
  <footer>
    <div class="footer-top">
      <div class="footer-box sede">
        <h3>Nuestra Sede</h3>
        <p>Dirección: Calle 123 #45-67<br>Ciudad: Bogotá<br>Horario: 8:00 a.m. - 6:00 p.m.</p>
      </div>

      <div class="footer-box contacto">
        <h3>Contacto</h3>
        <p>Tel: +57 320 000 0000
          <br>
          Correo: info@hoteldorado.com
          <br>
          Sitio Web: www.hoteldorado.com
        </p>
        <div class="redes">
          <a href="#">Facebook</a> |
          <a href="#">Instagram</a> |
          <a href="#">Twitter</a>
        </div>
      </div>

      <div class="footer-box proveedores">
        <h3>Proveedores</h3>
        <ul>
          <li>Proveedora ABC</li>
          <li>Distribuidora XYZ</li>
          <li>Servicios Hoteleros 24/7</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 Hotel Dorado. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>
</html>